<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="UTF-8" name="description" content="spring-boot thymeleaf | create ">
    <div th:replace="fragments/header :: header-css"></div>
	<style type="text/css">
		.column {
		  float: left;
		  width:40%;
		  padding: 10 10 10 10px;
		  style="padding-left:5px"		  
		  style="padding-rigth:5px"
		}
		
				b, select {
		  float: left;
		  width:40%;
		  padding: 10 10 10 10px;
		  style="padding-left:5px"		  
		  style="padding-rigth:5px"
		}
		
		
		
	</style>
	
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="tab-content">
		<div class="tab-pane active" id="addAdvTab">
			<div class="container">
				<div class="content-container clearfix">
					<div class="row">
						<h1 class="content-title">Публикуване на обява</h1>
						<!--star operations messages-->
						<div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								&times;
							</button>
								Обявата е публикувана 
								<strong> Успешно!</strong>
						</div>
						<div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								&times;
							</button>
							<strong>Възникна грешка. Моля опитайте отново!</strong>
						</div>
						<div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								&times;
							</button>
							<strong><h6 th:text="${msgText}"/></strong>
						</div>
						<div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								&times;
							</button>
							<strong>Грешка !!!</strong> <h6 th:text="${msgText}"/>
						</div>
						<div th:if="${msg eq 'trash'}" class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								&times;
							</button>
							Обявата е изпратена в кошчето
						</div>
						<!--end of messages-->
						<form th:object="${reqAdv}" th:action="@{/adv/saveAdv}" method="post">
							<div class="col-md-12">                                                  
								<div class="form-group">
									<table style="margin:0 auto;" width="1200" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td><b>Основна категория</b></td>
										</tr>
										<tr>
											<td>
												<select th:field="*{mainCategory.id}" id="mainCategoryId" onchange="getCategory()">
													<option th:each="mainCat : ${allMainCategory}" 
															th:value="${mainCat.id}"
															th:text="${mainCat.name}"> 
													</option>   						 	
												</select>
											</td>
										</tr>
										<tr>
											<td style="height:20px;" colspan="3">&nbsp;</td>
										</tr>   
										<tr>
											<td>
												<b>Марка</b>
												<b>Модел</b>
											</td>
											<td >
												<b>Тип двигател</b>
												<b>Модификация</b>
											</td>
											<td ><b>Състояние</b></td>
										</tr>
										<tr>
											<td>
												<select th:field="*{brand.id}" id="brandId" onchange="getModels()" class="column">                             		
													<option th:each="brand : ${brandList}" 
															th:value="${brand.id}"
															th:text="${brand.name}"> 
													</option>   						 	
												</select>											
												<select  th:field="*{model.id}" id="modelId" class="column">
													<option value=""></option> 
												</select>
											</td>
											<td>  
												<input th:field="*{modification}" type="text" />
												<select th:field="*{engineType}">
													<option th:value="Бензинов" th:text="Бензинов"></option>
													<option th:value="Дизелов" th:text="Дизелов"></option>
													<option th:value="Електрически" th:text="Електрически"></option>
													<option th:value="Хибриден" th:text="Хибриден"></option>
												</select>
											</td>						  
											<td style="padding-top:5px">
												<input th:field="*{state}" type="radio" value="Нов">Нов
												<input th:field="*{state}" type="radio" value="Употребяван">Употребяван
												<input th:field="*{state}" type="radio" value="За части">За части
											</td>	
										</tr>
										<tr>
											<td style="height:20px;" colspan="3">&nbsp;</td>
										</tr>
										<tr>
											<td style="padding-top:10px">
												<b>Евростандарт</b>
												<b>Мощност [к.с.]</b>
											</td>
											<td style="padding-top:10px">
												<b>Скоростна кутия</b>
												<b>Категория</b>
											</td>
											<td>																	
												<b>Валидност</b>
											</td>
										</tr>
										<tr>
											<td>
												<input th:field=*{power} type="text" value="${power}" maxlength="4"/>
												<select th:field="*{eurostandart}">
													<option value="Евро 1">Евро 1</option>
													<option value="Евро 2">Евро 2</option>
													<option value="Евро 3">Евро 3</option>
													<option value="Евро 4">Евро 4</option>
													<option value="Евро 5">Евро 5</option>
													<option value="Евро 6">Евро 6</option>
												</select>
											</td>
											<td style="padding-top:5px">
												<select th:field="*{transmission}">
													<option value="Ръчна">Ръчна</option>
													<option value="Автоматична">Автоматична</option>
													<option value="Полуавтоматична">Полуавтоматична</option>
												</select>
												<select  id="categoryId">
													<option value=""></option> 
												</select>
											</td>   
											<td>
												<select th:field="*{validity}">
													<option value="28 дни">28 дни</option>
													<option value="35 дни">35 дни</option>
													<option value="42 дни">42 дни</option>
													<option value="49 дни">49 дни</option>
													<option value="56 дни">56 дни</option>
												</select>
											</td>
										</tr>
										<tr>
											<td style="padding-top:10px">
												<b>Валута</b>
												<b>Цена&nbsp;</b>
											</td>
											<td style="padding-top:10px">
												<b>Цвят</b>
												<b>Пробег</b>
											</td>
											<td>
												<b>Регион</b>
												<b>Населено място</b>
											</td>
										</tr>
										<tr>
											<td style="padding-top:5px">		
												<input th:field="*{price}" type="text"  value="" />										
												<select th:field="*{currency}">
													<option value="BGN">лв.</option>
													<option value="USD">USD</option>
													<option value="EUR">EUR</option>
												</select>

											</td>
											<td>
												<select th:field="*{color.id}">
													<option th:each="color : ${allColors}" 
														th:value="${color.id}"
														th:text="${color.name}"> 
													</option>  
												</select>
												<input th:field="*{mileage}" type="text" value="" maxlength="7" />
												в километри
											</td>	
											<td>
												<select id="regionId" onchange="getLocations()">
													<option th:each="reg : ${allReg}" th:text="${reg.name}"> 
													</option>   						 	
												</select>
												<select th:field="*{location.id}" id="locationId">
													<option value=""></option> 
												</select>
											</td>
										</tr>
									</table>		
								</div>
								
								
            				 Допълнителна информация
            				 <textarea class="form-control" th:field="*{description}" placeholder="Допълнителна информация..">
            				 </textarea>

                            <div class="float-right btn-send">                            
                                <button class="btn btn-success btn-md"><span class="glyphicon glyphicon-send"></span>
                                    Create
                                </button>
                            </div>
								
								


							</div>
							<div class="float-right btn-send">                            

							</div>
						</form>
					</div>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="separator" th:replace="fragments/footer :: footer">&copy; 2019 </div>
	</footer>
	<script>
		window.onload = function(){
		   $("#modelId").width(150);		
			getCategory();
		};			
					
		function getModels() {		
			var e = document.getElementById("brandId");
			var strBrand = e.options[e.selectedIndex].text;
			console.log("val: " + strBrand);		
			console.log("val: " + e.options[e.selectedIndex].value);      
			
			$.getJSON('loadModels', {
					brandId : strBrand,
					ajax : 'true'
				}, function(data) {                 
					var html = '<option value=""></option>';
					var len = data.length;
					
					for ( var i = 0; i < len; i++) {
						html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
					}
					html += '</option>';  			
	    	console.log("begin................." );
	    	console.log(html);

	    	console.log("end................." );
	
					$('#modelId').html(html);
				});
			};
window.onload = function()
{
   $("#modelId").width(150);
    getModels();
	getCategory();
	getLocations();
	
};
		
		function getCategory() {		
			var e = document.getElementById("mainCategoryId");
			var strMainCat = e.options[e.selectedIndex].text;
			console.log("val: " + strMainCat);		
			console.log("val: " + e.options[e.selectedIndex].value);     
			
			$.getJSON('loadCategories', {
					mainCategoryId : strMainCat,
					ajax : 'true'
				}, function(data) {                 
					var html = '<option value=""></option>';
					var len = data.length;
					
					for ( var i = 0; i < len; i++) {
						html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
					}
					html += '</option>';  
					console.log(html);
					$('#categoryId').html(html);
				});
			};
function getLocations() {
	console.log("----------------------");
	
	var e = document.getElementById("regionId");
	var strRegion = e.options[e.selectedIndex].text;

	console.log("val: " + strRegion);
	
	console.log("val: " + e.options[e.selectedIndex].value);             
	
	
	
	$.getJSON('loadLocations', {
	        regionId : strRegion,
	        ajax : 'true'
	    }, function(data) {                 
	        var html = '<option value=""></option>';
	        var len = data.length;
			
	        for ( var i = 0; i < len; i++) {
	            html += '<option value="' + data[i].id + '">' +data[i].type + data[i].name + '</option>';
	        }

	        html += '</option>';  
	        

	    	console.log("begin................." );
	    	console.log(html);

	    	console.log("end................." );
	    	

            $('#locationId').html(html);
	

	    });
	};
				
		$(function () {
			$('#startDatePicker').datetimepicker({
				defaultDate: 'now',
				viewMode: 'days',
				format: 'DD/MM/YYYY'
			});
		});

		$('#modal-toTrash').on('show.bs.modal', function (e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
			$('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
		});

		$('#modal-delete').on('show.bs.modal', function (e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
			$('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
		});
		
	</script>

<!-- 
<script>
    var power = document.getElementById("power");

    console.log(power.value)
    function validate() {
        if (!power.value.isNumber()) {
            power.setCustomValidity("Only numbers");
        } else {
            power.setCustomValidity('');
        }
    }
    power.onchange = validate;
    power.onkeyup = validate;
</script>
 -->
</body>
</html>








